#import(methods)
useDynLib(quantmod)
importFrom(graphics,plot)
importFrom(stats,predict)
importFrom(stats,lag)
importFrom(stats,fitted)
importFrom(stats,fitted.values)
importFrom(stats,coefficients)
importFrom(stats,coef)
importFrom(stats,vcov)
importFrom(stats,logLik)
importFrom(stats,residuals)
importFrom(stats,resid)
importFrom(stats,anova)
importFrom(zoo,as.zoo)
#export(ohlcz,ohlcq)
export(period.prod,period.sum,period.max,period.min)
#export(.chob,write.chob,get.chob,release.chob)
export(.chob)
export(.chart.theme,chartTheme)
export(listTA,setTA,unsetTA)
export(addTA,dropTA,moveTA,swapTA)
export(addVo,addExpiry)
export(addLines)
export(addEnvelope)
export(addSMA,addEMA,addWMA,addDEMA,addEVWMA,addZLEMA)
export(addSMI)
export(addADX)
export(addDPO,chartDPO)
export(addCCI)
export(addCMF)
export(addCMO)
export(addMomentum)
export(addATR)
export(addTRIX)
export(addRSI)
export(addROC)
export(addWPR)
export(addSAR)
export(addMACD)
export(addBBands)
export(modelData,
    modelSignal,
    Op,Lo,Hi,Cl,Vo,Ad,
    OpCl,OpOp,ClCl,OpHi,OpLo,LoCl,HiCl,LoHi,
    seriesHi,seriesLo,
    is.OHLC,has.Op,has.Cl,has.Hi,has.Lo,has.Vo,has.Ad,has.OHLC,
    Delt,
    Next,
    Lag,
    options.expiry,futures.expiry,
#    to.period,
#    to.minutes,to.minutes3,to.minutes5,to.minutes10,to.minutes15,to.minutes30,
#    to.hourly,to.daily,
#    to.weekly,to.monthly,to.quarterly,to.yearly,
    nseconds,nminutes,nhours,ndays,nweekdays,nweeks,nmonths,nquarters,nyears,
#    periodicity,
    periodReturn,
    dailyReturn,weeklyReturn,monthlyReturn,quarterlyReturn,annualReturn,
    allReturns,
    tradeModel,
#    saveModels,
#    loadModels,
#	period.apply,
#    apply.weekly,
#    apply.daily,
#    apply.monthly,
#    apply.quarterly,
#    apply.yearly,
#    first,
#    last,
	breakpoints,
	specifyModel,
	getModelData,
#    predictModel,
    getQuote,
    getSymbols,
    getSymbols.MySQL,
    getSymbols.SQLite,
    getSymbols.mysql,
    getSymbols.FRED,
    getSymbols.yahoo,
    getSymbols.oanda,
    getSymbols.csv,
    getSymbols.rda,
    getSymbols.RData,
    getSymbols.google,
    getSymbols.oanda,
    getFX,
    getMetals,
    oanda.currencies,
    showSymbols,
    removeSymbols,
    saveSymbols,
    fittedModel,
	buildModel,
	buildData,
    is.quantmod,
    is.quantmodResults,
    as.quantmod.OHLC)
export(setSymbolLookup)
export(getSymbolLookup)
export(saveSymbolLookup)
export(loadSymbolLookup)
#export(tradeLog)
#export(gainloss)
export(chartSeries)
export(barChart)
export(lineChart)
export(candleChart)
S3method(seriesHi,default)
S3method(seriesHi,ts)
S3method(seriesLo,default)
S3method(seriesLo,ts)
S3method(print,periodicity)
S3method(to.period,quantmod.OHLC)
S3method(to.period,zoo)
S3method(to.period,timeSeries)
S3method(first,default)
S3method(last,default)
S3method(last,zoo)
S3method(first,zoo)
S3method(Next,zoo)
S3method(Next,numeric)
S3method(Next,data.frame)
S3method(Next,quantmod.OHLC)
S3method(Lag,default)
S3method(Lag,numeric)
S3method(Lag,data.frame)
S3method(Lag,zoo)
S3method(Lag,quantmod.OHLC)
S3method(formula,quantmod)
S3method(fitted,quantmod)
S3method(fitted.values,quantmod)
S3method(coef,quantmod)
S3method(coefficients,quantmod)
S3method(logLik,quantmod)
S3method(vcov,quantmod)
S3method(residuals,quantmod)
S3method(resid,quantmod)
S3method(anova,quantmod)
S3method(plot,quantmod)
S3method(plot,chobTA)
S3method(plot,quantmodResults)
S3method(as.zoo,data.frame)
S3method(as.zoo,quantmod.OHLC)
S3method(as.quantmod.OHLC,data.frame)
S3method(as.quantmod.OHLC,zoo)
S3method(as.quantmod.OHLC,quantmod.OHLC)
S3method('[',quantmod.OHLC)
S3method(periodReturn,zoo)
S3method(periodReturn,quantmod.OHLC)
S3method(periodReturn,quantmodResults)
S3method(predictModel,default)
S3method(predictModel,nnet)
S3method(predictModel,mars)
S3method(predictModel,polymars)
S3method(predictModel,lars)
S3method(predictModel,rpart)
S3method(predictModel,tree)
S3method(predictModel,randomForest)
export(seconds,minutes,hours,minutes3,minutes5,minutes10,minutes15,minutes30,days)
export(weekdays.zoo,weeks,months.zoo,quarters.zoo,years)
export(weekdays.timeSeries,weeks,months.timeSeries,quarters.timeSeries,years)
S3method(days,timeSeries)
S3method(weeks,zoo)
S3method(weeks,timeSeries)
S3method(minutes,zoo)
S3method(seconds,zoo)
S3method(hours,zoo)
S3method(days,zoo)
S3method(days,timeSeries)
S3method(weekdays,zoo)
S3method(weekdays,timeSeries)
S3method(months,zoo)
S3method(months,timeSeries)
S3method(quarters,zoo)
S3method(quarters,timeSeries)
S3method(years,zoo)
S3method(years,timeSeries)
exportClass(quantmod)
exportClass(quantmodResults,quantmodReturn)
exportClass(tradeLog)
exportClass(chob,chobTA)
exportMethods(show,summary,'fittedModel<-')
