#import(methods)
importFrom(graphics,plot)
importFrom(stats,predict)
importFrom(stats,lag)
export(modelData,
    Op,Lo,Hi,Cl,Vo,Ad,
    OpCl,OpOp,ClCl,OpHi,OpLo,LoCl,HiCl,LoHi,
    Delt,
    Next,
    Lag,
    lags2,
    periodReturn,
    dailyReturn,weeklyReturn,monthlyReturn,quarterlyReturn,annualReturn,
    allReturns,
    tradeModel,
    saveModels,
    loadModels,
	papply,
	returnBy,
	breakpoints,
	importKM,
	tR.kmgmdh,
	specifyModel,
	getModelData,
    stripModelData,
    predictModel,
	fetchRawData,
    getSymbols,
    getSymbols.MySQL,
    showSymbols,
    removeSymbols,
    fittedModel,
	buildModel)
S3method(plot,quantmodResults)
##S3method(lag,numeric)
S3method(periodReturn,quantmod.OHLC)
S3method(predict,kmgmdh)
S3method(predictModel,default)
S3method(predictModel,nnet)
S3method(predictModel,mars)
S3method(predictModel,polymars)
S3method(predictModel,lars)
S3method(predictModel,rpart)
S3method(predictModel,tree)
S3method(predictModel,randomForest)
export(weekdays.zoo,weeks,months.zoo,quarters.zoo,years)
S3method(weeks,zoo)
S3method(weekdays,zoo)
S3method(months,zoo)
S3method(quarters,zoo)
S3method(years,zoo)
exportClass(quantmod)
exportClass(quantmodResults,quantmodReturn)
exportClass(kmgmdh)
exportMethods(show,summary,'fittedModel<-')
